
body 
  background: #222
  color: #EEE
  font-family: Geneva, Arial, Verdana
  
ul
  margin: 0
  padding: 0
  list-style-type: none
li
  margin: 0

a  
  color: #FFF
  text-decoration: none
a:hover
  color: #CCC
  text-decoration: underline
  
#container
  margin: 20px

#player
  a
    display: inline-block
    font-weight: bold
    font-size: 1.5em
    padding: 5px 10px
    border-radius: 10px
    background: #555
    border: 1px solid #AAA
  a:hover
    background: #BBB
    color: #444
    text-decoration: none

.crop    
  background: #555
  padding: 4px 10px 
  font-size: 0.6em
  border-radius: 10px
    
.playlist 
  a.del
    color: #900
    padding: 0 6px 3px 5px
    font-weight: bold
  a.del:hover
    background: #900
    color: #FFF
    text-decoration: none
    
.current_track
  font-size: 1.2em
  margin: 10px 0 0 0

.volume
  display: inline-block
  background: #777
  padding: 3px 5px 0
  border-radius: 5px
  