
body 
  background: #222
  color: #EEE
  font-family: Geneva, Arial, Verdana
  
ul
  margin: 0
  padding: 0
  list-style-type: none
li
  margin: 0

a  
  color: #FFF
  text-decoration: none
a:hover
  color: #CCC
  text-decoration: underline

#container
  margin: 20px

#player
  a
    display: inline-block
    font-weight: bold
    font-size: 1.5em
    padding: 5px 10px
    border-radius: 10px
    background: #555
    border: 1px solid #AAA
  a:hover
    background: #BBB
    color: #444
    text-decoration: none

.crop    
  background: #555
  padding: 4px 10px 
  font-size: 0.6em
  border-radius: 10px
    
  