%html
  %head
    %title MpdWeb
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %script{ src: "/js/vendor/zepto.js" }
    %script{ src: "/js/main.js" }
  %body
    #container
      %header
        %h1 MpdWeb
      %content
        #player
          %a.prev{ href: js_void } <<
          %a.play{ href: js_void } >
          %a.next{ href: js_void } >>
          .current_track
            &nbsp;

        .playlist
          %h2 
            Playlist
            %a.crop{ href: js_void } Crop
          %ul
            - @playlist.each_with_index do |song, idx|
              = haml :"_song", locals: { song: song, idx: idx+1  }

        .database
          %h2 Database
          %ul
            - @database.each do |song|
              = haml :"_song", locals: { song: song }