%html
  %head
    %title MpdWeb
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %script{ src: "/js/vendor/zepto.js" }
    %script{ src: "/js/main.js" }
  %body
    #container
      %header
        %h1 MpdWeb
      %content
        #player
          %a.prev{ href: js_void } <<
          %a.play{ href: js_void } >
          %a.next{ href: js_void } >>
          .volume
            %input{ type: "range", name: "volume", min: "0", max: "100", value: MpdWeb.mpd.volume }
            
          .current_track
            &nbsp;
            

        .playlist
          %h2
            Playlist (#{@playlist.size})
            %a.crop{ href: js_void } Crop
          %ul
            - @playlist.each_with_index do |song, idx|
              = haml :"_song", locals: { song: song, idx: idx+1  }

        .artists
          %h2 Artists (#{@artists.size})
          %ul
            - @artists.each do |artist|
              = haml :"_artist", locals: { artist: artist }