%html
  %head
    %title MpdWeb
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %script{ src: "/js/vendor/zepto.js" }
    %script{ src: "/js/main.js" }
  %body
    #container
      %header 
        %h1 MpdWeb
      %content
        #player
          %a.prev{ href: js_void } <<
          %a.play{ href: js_void } >
          %a.next{ href: js_void } >>
          .track
            &nbsp;
    
        .playlist
          %h2 Playlist
          %ul
            - @playlist.each do |song|
              = haml :"_song", locals: { song: song }
    
        .database
          %h2 Database
          %ul
            - @database.each do |song|
              = haml :"_song", locals: { song: song }