body {
  background: #222222;
  color: #eeeeee;
  font-family: Geneva, Arial, Verdana; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  margin: 0; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #cccccc;
  text-decoration: underline; }

#container {
  margin: 20px; }

#player a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 10px;
  border-radius: 10px;
  background: #555555;
  border: 1px solid #aaaaaa; }
#player a:hover {
  background: #bbbbbb;
  color: #444444;
  text-decoration: none; }
